body {
    background-color: gray;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
}

/* First Column first box */

.firstcolumn {
    background-color: #7b2032;
    width:35%;
    padding: 15px;
    margin-right: 5px;
    border-radius: 5px;
}


.column_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    margin-bottom: 35px;
}

.imagecontainer {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 500px;
    margin-bottom: -20px;
    border: 10px solid white;
}

.image {
    width: 100%;
    height: 130%;
    margin-bottom: 40px;
}

/* First Column Second box */

.personal {
    color: #f2aa5d;
}

.fsty {
    font-family: 'Roboto', sans-serif;
}
.fs1 {
    font-size: 20px;
    font-weight: bold;
}

.fs2 {
    font-size: 15px;
}

.column_div1 {
    padding: 15px;
    width: 100%;
}

.person {
    height: 16.7%;
    color: white;
    padding: 10px 0px;
    margin-bottom: 5px;
}

/* Second column */
.secondcolumn {
    background-color: white;
    width: 60%;
    border-radius: 5px;
    flex-wrap: wrap;
}

/* Second column Box */
.column_div2 {
    padding: 50px;
    max-width: 100%;
    margin: 0 auto;
}

.person2 {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.per {
    margin-top: -20px;
}

.bc {
    color: white;
    background-color: #7b2032;
    width: 40%;
    padding: 7px;
    border-radius: 20px;
    text-align: center;
}
.header_div {
    padding: 15px;
    text-align: center;
}

.bold {
    font-weight: bold;
    margin-top: 10px;
}

fs3{
    font-size: 25px;
}

.working {
    margin-bottom: 40px;
}

/* Divided by Law */

@media (max-width: 828px){
    .firstcolumn {
        margin: 0 auto;
    }

    .respon {
        width: 20%;
    }
}

@media (max-width: 732px){
    .respon {
        width: 100%;
    }
}

@media (max-width: 613px){
    .secondcolumn {
        width: 100%;
    }

    .firstcolumn {
        width: 100%;
    }
}

@media (max-width: 282px){
    .secondcolumn {
        width: 100%;
    }

    .firstcolumn {
        width: 100%;
    }
}